{% extends "layout.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block extra_head %}{% endblock %}

{% block header %}Leo Thijs Keeren-Hall{% endblock %}

{% set active_page = 'home' %}

{% block content %}
    <p> - Student - </p>
    <h2>About me</h2>
    Hello
    <h2>Experience</h2>
    Schooling:
    <ul>
        <li>
            <h3>Villa Maria High School<span>(2019-2024)</span></h3>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </li>
        <li>
            <h3>Dawson College<span>(2024-2026)</span></h3>
            <ul>
                <li>Honours Role Every Semester</li>
                <li></li>
            </ul>
        </li>
    </ul>
    <h2>Placeholder</h2>
    I am still working on the website
{% endblock %}