<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta lang="en">
    <title>{% block title %}Leo K-H{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}?v=1.1">
    {% block extra_head %}{% endblock %}
    <meta name="theme-color" content="#0f1724">
    <meta name="msapplication-navbutton-color" content="#0f1724">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#0f1724">
</head>
<body>
    <nav>
        <div class="homepage"><a class="homepage" href="{{ url_for('landing') }}">Leo T. K-H</a></div>
        <ul>
            <li><a href="{{ url_for('photography') }}">Photography</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1 class="header">{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="left">
            <h2 class="homepage">Leo Thijs Keeren-Hall</h3>
            <p class="muted">Student</p>
        </div>
        <div class="right">
            <h3 id="Contact">My Accounts</h3>
            <a href="https://gitlab.com/leotkh" title="GitLab" target="_blank" rel="noopener">
                <img src="{{ url_for('static', filename='img/gitlab-logo.svg') }}" alt="GitLab" width="24" height="24" style="vertical-align: middle;" />
            </a>
            <a href="https://github.com/lthijskh" title="GitHub" target="_blank" rel="noopener">
                <img src="{{ url_for('static', filename='img/github-mark.svg') }}" alt="GitHub" width="24" height="24" />
            </a>
            <a href="mailto:lkeerenhall@gmail.com" title="Email">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25H4.5a2.25 2.25 0 0 1-2.25-2.25V6.75A2.25 2.25 0 0 1 4.5 4.5h15a2.25 2.25 0 0 1 2.25 2.25zm-1.5 0-7.5 6-7.5-6" stroke="#EA4335" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </a>
        </div>
    </footer>
</body>
</html>
