{% extends "layout.html" %} {% block title %}Photos - {{ super() }}{% endblock
%} {% block extra_head %}
<script>
  window.imgData = {{ img_data | tojson }};
</script>
<script
  defer
  src="{{ url_for('static', filename='scripts/help.js') }}"
></script>
<script
  defer
  src="{{ url_for('static', filename='scripts/gallery.js') }}"
></script>
<meta property="og:type" content="website">
<meta
  property="og:title"
  content="{{ img.location }} - Leo Keeren-Hall"
/>
<meta
  property="og:description"
  content="
    {{ img.camera }}
    , {{ img.lens }}
    , {{ img.date_formatted }}
  "
/>
<meta
  property="og:image"
  content="{{ url_for(
    'static',
    filename=img.path,
    _external=True
  ) }}"
/>
<meta
  property="og:url"
  content="{{ request.url }}"
/>
<meta
  property="og:site_name"
  content="Leo Keeren-Hall"
/>
<meta
  name="twitter:card"
  content="summary_large_image"
/>
<meta
  name="twitter:title"
  content="{{ img.location }}"
/>
<meta
  name="twitter:description"
  content="
    {{ img.camera }}, {{ img.date_formatted }}
  "
/>
<meta
  name="twitter:image"
  content="{{ url_for(
    'static',
    filename=img.path,
    _external=True
  ) }}"
/>
{% endblock %} {% set active_page = 'photos' %} {% block content %}
<h1
  class="font-serif text-4xl max-lg:px-8 md:text-7xl first-letter:font-accent md:first-letter:text-9xl first-letter:text-6xl first-letter:mr-1.5 md:first-letter:mr-2.5"
>
  Photography
</h1>

<!-- Single View -->
<div id="view-single" class="z-50">
  <div class="info-slide  md:min-h-[calc(100vh-8rem)] flex flex-col-reverse md:flex-row relative">
    <!-- Left Side -->
    <div
      <div class="w-full md:w-1/3 top-0 flex items-center p-8"
    >
      <button onclick="showView(-1)" class="absolute top-6 left-6 z-10 hover:cursor-pointer">
        ←
      </button>
      <div class="max-w-md w-full transition-opacity duration-300 flex flex-col gap-3">

        <div class="mt-1 text-sm text-muted dark:text-d-muted space-y-1 min-h-14">
          <div class="text-text dark:text-d-text text-2xl font-medium leading-tight">
            {{ img.location }}
          </div>
          <a href="https://www.google.com/maps?q={{ img.coords}}" class="text-muted dark:text-d-muted max-w-fit text-xs h-4 block hover:text-text dark:hover:text-d-text" target="_blank" rel="noopener">{{ img.coords }}</a>
        </div>

        <div class="text-sm text-muted dark:text-d-muted">
          {{ img.date_formatted }}
        </div>

        <div class="mt-6 text-sm text-muted dark:text-d-muted space-y-2 min-h-20">
          <div class="font-medium text-text dark:text-d-text h-5">{{ img.camera }}</div>
          <div class="text-xs h-4">{{ img.lens }}</div>

          <div class="flex gap-6 text-xs mt-2 min-h-5">
            <span>ISO {{ img.iso }}</span>
            <span>{{ img.focal }}</span>
            <span>{{ img.aperture }}</span>
            <span>{{ img.shutter }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Side -->
    <div class="w-full md:w-2/3 my-auto">
      <div class="w-full flex items-center justify-center">
        <img
          src="{{ url_for('static', filename=img.images.medium) }}"
          sizes="100vw"
          srcset="
            {{ url_for('static', filename=img.images.medium) }} 1200w,
            {{ url_for('static', filename=img.images.full) }} 2000w
          "
          alt="{{ img.alt }}"
          class="max-h-[60vh] md:max-h-[80vh] max-w-[80vw] md:max-w-[60vw] w-full object-contain max-md:mt-14 hover:cursor-pointer"
          onclick="showView(1);"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>

<!-- FullScreen Lightbox -->
<div
  id="lighthouse"
  class="hidden fixed inset-0 z-50 bg-bg dark:bg-d-bg flex flex-col items-center justify-center p-4"
>
  <!-- Close Button -->
    <button
      id="close-modal"
      class="absolute top-4 right-4 text-muted hover:text-text dark:hover:text-d-text text-2xl font-light transition z-10 hover:cursor-pointer"
    >
      ×
    </button>

  <!-- Image Container (Main Focus) -->
  <div
    class="flex-1 flex items-center justify-center w-full max-w-[95vw] max-h-[95vh]"
    id="image-container"
  >
  <div class="slide w-full h-full flex items-center justify-center">
    <img
      src="{{ url_for('static', filename=img.images.medium) }}"
      sizes="100vw"
      srcset="
        {{ url_for('static', filename=img.images.medium) }} 1200w,
        {{ url_for('static', filename=img.images.full) }} 2000w
      "
      alt="{{ img.alt }}"
      class="max-w-full max-h-full object-contain"
      loading="lazy"
    />
  </div>
  </div>

  <!-- Navigation Controls -->
  <div class="absolute bottom-4 left-4">
    <button
      id="prev"
      onclick="navigatePhoto(-1)"
      class="text-muted hover:text-text dark:hover:text-d-text text-2xl font-light transition hover:cursor-pointer"
    >
      ←
    </button>
  </div>

  <div class="absolute bottom-4 right-4">
    <button
      id="next"
      onclick="navigatePhoto(1)"
      class="text-muted hover:text-text dark:hover:text-d-text text-2xl font-light transition hover:cursor-pointer"
    >
      →
    </button>
  </div>
</div>
<div id="help-popup" class="hidden fixed inset-0 z-[101] bg-black/50 backdrop-blur-sm flex items-center justify-center p-6">
  <div class="bg-bg dark:bg-d-bg w-full max-w-md rounded-xl border border-line dark:border-d-line shadow-lg p-6">

    <h3 class="text-lg font-medium mb-5">How to use</h3>

    <ul class="space-y-4 text-sm text-muted">

      <li>
        Click a photo to see how it was taken
      </li>

      <li>
        Click it again to view it without distractions
      </li>

      <li class="flex items-center gap-2 flex-wrap">
        Navigate with
        <span class="kbd">A</span>
        <span class="kbd">D</span>
        or
        <span class="kbd">←</span>
        <span class="kbd">→</span>
      </li>

      <li class="flex items-center gap-2 flex-wrap">
        View more details:
        <span class="kbd">F</span>
      </li>

      <li class="flex items-center gap-2 flex-wrap">
        Go back:
        <span class="kbd">Esc</span>
      </li>

    </ul>

    <button
      onclick="closeHelp()"
      class="mt-6 text-sm underline opacity-70 hover:opacity-100">
      Got it!
    </button>

  </div>
</div>
{% endblock %}
