{% extends "layout.html" %}

{% block title %}Photos | {{ super() }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/gallery.css') }}">
    <script defer src="{{ url_for('static', filename='scripts/lightbox.js') }}"></script>
{% endblock %}

{% block header %}Photography{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
        {% for image in col1 %}    
            <img src="{{ url_for('static', filename=image.path) }}" alt="{{ image.description }}" loading="auto" class="photo">
        {% endfor %}
        </div>
        <div class="column">
        {% for image in col2 %}    
            <img src="{{ url_for('static', filename=image.path) }}" alt="{{ image.description }}" loading="auto" class="photo">
        {% endfor %}
        </div>
        <div class="column">
        {% for image in col3 %}    
            <img src="{{ url_for('static', filename=image.path) }}" alt="{{ image.description }}" loading="auto" class="photo">
        {% endfor %}
        </div>
    </div>
{% endblock %}