{% extends "layout.html" %} {% block title %}Photos - {{ super() }}{% endblock
%} {% block extra_head %}
<script
  defer
  src="{{ url_for('static', filename='scripts/lightbox.js') }}"
></script>
<script>
  window.imagesData = {{ images|tojson }};
</script>
{% endblock %} {% set active_page = 'photography' %} {% block content %}
<h1
  class="font-serif text-5xl sm:text-7xl first-letter:font-accent first-letter:text-7xl sm:first-letter:text-9xl first-letter:mr-1.5 sm:first-letter:mr-2.5"
>
  Photography
</h1>

<!-- 3 col Library -->
<div id="view-grid" class="grid grid-cols-1 md:grid-cols-3 p-1">
  <div>
    {% for i in range(col1|length) %}
    <img
      class="p-1 hover:scale-102"
      src="{{ url_for('static', filename=col1[i].path) }}"
      alt="{{ col1[i].alt }}"
      onclick="showView(1);currentSlide(1 + {{ i }})"
      loading="auto"
    />
    {% endfor %}
  </div>
  <div>
    {% for i in range(col2|length) %}
    <img
      class="p-1 hover:scale-102"
      src="{{ url_for('static', filename=col2[i].path) }}"
      alt="{{ col2[i].alt }}"
      onclick="showView(1);currentSlide(1 + {{ col1|length }} + {{ i }} )"
      loading="auto"
    />
    {% endfor %}
  </div>
  <div>
    {% for i in range(col3|length) %}
    <img
      class="p-1 hover:scale-102"
      src="{{ url_for('static', filename=col3[i].path) }}"
      alt="{{ col3[i].alt }}"
      onclick="showView(1);currentSlide(1 + {{ col1|length }} + {{ col2|length }} + {{ i }})"
      loading="auto"
    />
    {% endfor %}
  </div>
</div>

<!-- Single View -->
 <div id="view-single" class="hidden z-50">
  {% for img in images %}
    <div class="info-slide hidden md:min-h-[calc(100vh-8rem)] flex flex-col-reverse md:flex-row relative">
      <!-- Left Side -->
      <div
        <div class="w-full md:w-1/3 top-0 flex items-center p-8"
      >
        <button onclick="showView(0)" class="absolute top-6 left-6 z-10">
          ←
        </button>
        <div class="max-w-md w-full transition-opacity duration-300 flex flex-col gap-3">
          <h2 class="text-3xl font-medium leading-tight min-h-14">{{ img.title }}</h2>

          <div class="mt-1 text-sm text-muted space-y-1 min-h-14">
            <div class="text-text dark:text-d-text font-medium h-5">{{ img.location }}</div>
            <a href="https://www.google.com/maps?q={{ img.coords}}" class="max-w-fit text-xs opacity-70 underline h-4 block hover:text-text dark:hover:text-d-text" target="_blank" rel="noopener">{{ img.coords }}</a>
          </div>

          <div class="mt-6 text-sm text-muted space-y-2 min-h-20">
            <div class="font-medium text-text dark:text-d-text h-5">{{ img.camera }}</div>
            <div class="text-xs h-4">{{ img.lens }}</div>

            <div class="flex gap-6 text-xs mt-2 min-h-5">
              <span>ISO {{ img.iso }}</span>
              <span>{{ img.focal }}</span>
              <span>{{ img.aperature }}</span>
              <span>{{ img.shutter }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Right Side -->
      <div class="w-full md:w-2/3 top-0">
        <div class="w-full flex items-center justify-center">
          <img
            src="{{ url_for('static', filename=img.path) }}"
            alt="{{ img.alt }}"
            class="max-h-[60vh] md:max-h-[80vh] max-w-[80vw] md:max-w-[60vw] w-full object-contain max-md:mt-14"
            data-index="{{ loop.index0 }}"
            onclick="showView(2);currentSlide(1 + {{ loop.index0 }})"
          />
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<!-- FullScreen Lightbox -->
<div
  id="lighthouse"
  class="hidden fixed inset-0 z-50 bg-bg dark:bg-d-bg flex flex-col items-center justify-center p-4"
>
  <!-- Close Button -->
  <button
    id="close-modal"
    onclick="closeModal()"
    class="absolute top-4 right-4 text-muted hover:text-text dark:hover:text-d-text text-2xl font-light transition z-10"
  >
    ×
  </button>

  <!-- Image Container (Main Focus) -->
  <div
    class="flex-1 flex items-center justify-center w-full max-w-[95vw] max-h-[95vh]"
    id="image-container"
  >
    {% for i in range(total_i) %}
    <div class="slide w-full h-full flex items-center justify-center">
      <img
        src="{{ url_for('static', filename=images[i].path) }}"
        alt="{{ images[i].alt }}"
        class="max-w-full max-h-full object-contain"
        loading="lazy"
      />
    </div>
    {% endfor %}
  </div>

  <!-- Navigation Controls -->
  <div class="absolute bottom-4 left-4">
    <button
      id="prev"
      onclick="changeSlides(-1)"
      class="text-mutede hover:text-text dark:hover:text-d-text text-2xl font-light transition"
    >
      ←
    </button>
  </div>

  <div class="absolute bottom-4 right-4">
    <button
      id="next"
      onclick="changeSlides(1)"
      class="text-mutede hover:text-text dark:hover:text-d-text text-2xl font-light transition"
    >
      →
    </button>
  </div>
</div>
{% endblock %}
