{% extends "layout.html" %} {% block title %}Projects - {{ super() }}{% endblock
%} {% block extra_head %}{% endblock %} {% set active_page = 'projects' %} {%block content %}
<h1
  class="font-serif text-4xl max-lg:px-8 md:text-7xl first-letter:font-accent md:first-letter:text-9xl first-letter:text-6xl md:first-letter:-mr-1.5 first-letter:-mr-0.5"
>
  Projects
</h1>
<ul>
  {% for project in projects %}
  <li
    id="{{ project.slug }}" class="py-10 border-b border-line dark:border-d-line"
  >
    <div class="w-full flex flex-row justify-between align-middle">
      <h1 class="text-heading">{{ project.title }}</h2>
      <span class="font-light">{{ project.date }}</span>
    </div>
    {% if project.image %} {% if "http" in project.image %}
    <img class="w-full max-h-96 object-cover rounded-xl mt-3" alt="{{ project.alt }}" src="{{ project.image }}" />
    {% else %}
    <img
      class="w-full max-h-96 object-cover rounded-xl mt-3"
      alt="{{ project.alt }}"
      src="{{url_for('static', filename=project.image)}}"
    />
    {% endif %} {% endif %}
    <p class="mt-3 max-w-prose">{{ project.description }}</p>
    <div class="mt-3 flex gap-4">
      {% if project.link %}
      <a class="text-muted dark:text-d-muted hover:text-text dark:hover:text-d-text transition" href="{{ project.link }}" target="_blank" rel="noopener">Website</a>
      {% endif %} {% if project.repository %}
      <a class="text-muted dark:text-d-muted hover:text-text dark:hover:text-d-text transition" href="{{ project.repository }}" target="_blank" rel="noopener"
        >Repository</a
      >
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}