{% extends "layout.html" %}

{% block title %}Projects | {{ super() }}{% endblock %}

{% block header %}Projects{% endblock %}

{% block extra_head %}{% endblock %}

{% set active_page = 'projects' %}

{% block content %}
    <ul>
        {% for project in projects %}
            <li>
                <h2>{{ project.title }}<span>{{ project.date }}</span></h2>
                {% if project.image %}
                    {% if "http" in project.image %}
                        <img alt="{{ project.alt }}" src="{{ project.image }}">
                    {% else %}
                        <img alt="{{ project.alt }}" src="{{url_for('static', filename=project.image)}}">
                    {% endif %}
                {% endif %}
                <p>{{ project.description }}</p>
                <div>
                    {% if project.link %}
                        <a href="{{ project.link }}" target="_blank" rel="noopener">Website</a>
                    {% endif %}
                    {% if project.repository %}
                        <a href="{{ project.repository }}" target="_blank" rel="noopener">Repository</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}